.header-properties
  border-radius: 22px
  width: 100%
  height: 64px
  margin: 15px
  margin-right: -1px
  background: #FFFFFF
  display: flex
  flex-direction: row
  align-items: center


.header_2_div
  display: flex
  flex-direction: row
  align-items: center


.small-gap
  gap: 1px !important

.head_user_db
  white-space: break-spaces
  color: #42394D
  height: 100%

.header_call_dropdown
  color: #BF539E
  font-size: 16px
  font-weight: 700
  margin-top: -7px
  margin-left: 8px

.header_report
  color: #635D6B
  font-size: 14px
  font-weight: 400

.header_avatar
  background-color:  #ce4e99

.head_account_dropdown
  border-radius: 12px
  width: 328px
  cursor: pointer
.lng_select
  z-index: 100
  display: flex
  justify-content: flex-end
  align-items: center
  padding: 15px 36px
  @media screen and (max-width: 800px)
    justify-content: flex-start
  .ant-select-selection-item
    margin-top: 4px
.report_text
  font-size: 14px
  font-weight: 400
.avatar_big_div
  display: flex
  align-items: center
.first_name
  margin-top: 1px
  font-size: 14px
  font-weight: 400
.last_name
  margin-top: -3px
  font-size: 14px
  font-weight: 700

