.head_account_drop,.head_acc_bottom_div
  display: flex
  flex-direction: column
  .ant-btn
    height: 100%
    display: flex
    white-space: break-spaces
    justify-content: space-between
    border-radius: 12px
    width: 100%
    align-items: center
    border: none
    margin-bottom: 8px
    padding: 12px
    background-color: #f4f5f9
  .ant-btn-primary
    background-color: #7c4d98

.head_acc_bottom_div
  margin-top: 25px

  .ant-btn
    height: 44px

.head_account_drop_text
  display: flex
  font-weight: 700



