.bac_div
  position: absolute
.offer_logo_div
  opacity: 0.99
  height: 140px
.menu_div
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  .tab_div
    width: 75%
    background-color: #FFFFFF
    border-radius: 8px
    opacity: 0.99
    min-height: 100px
    padding: 10px
    box-shadow: 0px 1.43897px 2.21381px 0px rgba(0, 0, 0, 0.01), 0px 3.45805px 5.32008px 0px rgba(0, 0, 0, 0.01), 0px 6.51121px 10.01724px 0px rgba(0, 0, 0, 0.02), 0px 11.61488px 17.86905px 0px rgba(0, 0, 0, 0.02), 0px 21.72436px 33.42209px 0px rgba(0, 0, 0, 0.03)
    @media screen and (max-width: 900px)
      width: 75%
      display: none
  .tab_div_mobile
    display: none
    opacity: 0.99
    @media screen and (max-width: 900px)
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      opacity: 0.99
      background-color: #FFFFFF
      width: 100%
      padding: 14px 16px
      box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12)


  .tab_div_1
    width: 75%
    background-color: #FFFFFF
    border-radius: 8px
    opacity: 0.99
    min-height: 100px
    padding: 10px
    box-shadow: 0px 1.43897px 2.21381px 0px rgba(0, 0, 0, 0.01), 0px 3.45805px 5.32008px 0px rgba(0, 0, 0, 0.01), 0px 6.51121px 10.01724px 0px rgba(0, 0, 0, 0.02), 0px 11.61488px 17.86905px 0px rgba(0, 0, 0, 0.02), 0px 21.72436px 33.42209px 0px rgba(0, 0, 0, 0.03)
    @media screen and (max-width: 900px)
      width: 75%
      margin-top: 15px
    @media screen and (max-width: 500px)
      width: 90%
      margin-top: 15px

  .tab_div_mobile
    display: none
    opacity: 0.99
    @media screen and (max-width: 900px)
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      opacity: 0.99
      background-color: #FFFFFF
      width: 100%
      padding: 14px 0px 16px 0px
      box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12)
    .ant-select-selector
      border: none
    .tree_seleqt_title_name
      display: none
    .select_title_length
      display: none



.all_offers_mobile_dropDown_div
  margin: 0 16px

.header_img_lng
  @media screen and (max-width: 900px)
    display: none

.all_offers_mobile_big_div
  display: flex
  flex-direction: row
  align-items: center

.tab_div_mobile_filter_drp
  //margin-right: 2px
  margin-top: 10px
  .tab_div_mobile_filter_text
    margin: 0 8px
    font-size: 14px
    color: #97929E

.all_offers_drawer
  .ant-drawer-body
    padding: 0 !important



.radio_grup
  //display: flex
  //gap: 10px
  //max-width: 100%
  //flex-direction: row
  //justify-content: space-around
  margin-top: 12px
  .ant-radio-button
    padding: 10px
  .ant-radio-button-wrapper
    border: none
    border-radius: 8px
    span
      font-weight: 600
      font-size: 18px
  .ant-radio-button-wrapper-checked
    span
      color: #FFFFFF !important
      font-weight: 600
      font-size: 18px
  .ant-radio-button-checked
    background-color: #ce4e99
    border-radius: 10px
    border: none

.all_offers_category_radio_button
  border: none
  font-size: 18px
  font-weight: 700
  padding-top: -5px
  height: 37px
  &:hover
    color: #FFFFFF !important

.all_offer_btn_style
  border: none
  font-size: 18px
  font-weight: 700
  height: 36px
  &:hover
    color: #FFFFFF !important

.all_offers_header_lng
  margin-left: 60%
  cursor: pointer
  @media screen and (max-width: 1650px)
    margin-left: 57%
  @media screen and (max-width: 1400px)
    margin-left: 55%
  @media screen and (max-width: 1240px)
    margin-left: 52%
  @media screen and (max-width: 1130px)
    margin-left: 50%

.mobile_filter_line
  width: 100%
  border: 1px dashed #E1E2E9
  margin-top: 16px
.filter_div
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between
.ant-dropdown-menu
  max-height: 300px
  overflow: auto
.price_mobile
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin-top: 28px
  width: 100%
.price_text_mobile
  background-color: #F5F5F8
  padding: 8px 20px
  border-radius: 12px


.price
  display: flex
  flex-direction: row
  justify-content: space-around

.price_text_0

  font-weight: 600

.price_text
  font-size: 16px
  font-weight: 700
.slider_div
  width: 65%
  margin-right: 18px
  @media screen and (max-width: 450px)
    width: 80%
  .ant-slider
    .ant-slider-track
      background-color: #ce4e99
  .ant-slider:hover
    .ant-slider-track
      background-color: #ce4e99



.slider_div_mobile
  width: 100%
  
  .ant-slider
    .ant-slider-track
      background-color: #ce4e99
  .ant-slider:hover
    .ant-slider-track
      background-color: #ce4e99

.all_offers_reset_apply_div
  width: 100%
  background-color: #FFFFFF
  padding: 16px
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.15)
  margin-top: 10px
  .all_offers_apply_btn
    width: 60%
    height: 48px
    font-weight: 700
    font-size: 16px
    font-family: Roboto
  .all_offers_reset_btn
    width: 40%
    height: 48px
    font-weight: 700
    font-size: 16px
    font-family: Roboto



.radio_grup
  .ant-radio-button-wrapper:not(:first-child)::before
    content: none !important
.big_div_cards
  margin-top: 20px
  opacity: 0.99
  width: 75%
  @media screen and (max-width: 500px)
    width: 93%
  .offer_card

    margin-letf: 4px
    margin-right: 4px
    margin-top: 4px
    box-shadow: 0px 1.43897px 2.21381px 0px rgba(0, 0, 0, 0.01), 0px 3.45805px 5.32008px 0px rgba(0, 0, 0, 0.01), 0px 6.51121px 10.01724px 0px rgba(0, 0, 0, 0.02), 0px 11.61488px 17.86905px 0px rgba(0, 0, 0, 0.02), 0px 21.72436px 33.42209px 0px rgba(0, 0, 0, 0.03)

    background-color: #FFFFFF
    min-height: 560px
    border-radius: 12px
    @media screen and (max-width: 420px)
      height: 560px
    @media screen and (max-width: 400px)
      height: 560px
  .offer_card_image_div
    height: 200px
    .offer_card_image_1
      height: 200px
      width: 100%
      border-radius: 12px 12px 0 0
      @media screen and (max-width: 500px)
        border-radius: 12px
    .offer_card_percent
      background: #FF1A61
      margin-top: -70px
      padding: 10px
      margin-bottom: 30px
      opacity: 0.99
      font-size: 24px
      color: #FFFFFF
      font-weight: 700
    .offer_card_big_text
      font-size: 24px
      height: 80px
      font-weight: 700
      padding: 5px 16px
    .offer_card_smoll_text
      height: 20px
      color: #8d8c8d
      font-size: 14px
      padding: 5px 16px
      font-weight: 500
    .offer_card_stars
      padding: 5px 16px
    .offer_card_avatar
      padding: 0px 16px
    .offer_card_smoll_text1
      color: #8d8c8d
      font-size: 14px
      font-weight: 500
    .off_card_price_btn
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
    .line
      border-top: 1px solid black
      width: 60px
      margin-top: -8px
.footer_footer_big_div
  background-color: #8447DF
  width: 100%
  padding: 40px 0px
  margin-top: 60px
  display: flex
  justify-content: center
  .footer_content_div
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 70%
    @media screen and (max-width: 1545px)
      width: 70%
    @media screen and (max-width: 1320px)
      width: 80%
    //@media screen and (max-width: 1200px)
    //  width: 90%
    @media screen and (max-width: 600px)
      //display: block
      width: 95%
    @media screen and (max-width: 400px)
      width: 98%

  .footer_site_logo
    width: 70px
    @media screen and (max-width: 600px)
      width: 50px

  .hidden_url_small
    display: none
    @media screen and (max-width: 1040px)
      display: flex
      flex-direction: row
      align-items: center
      margin-left: 25px

  .hidden_url_big
    display: flex
    flex-direction: row
    align-items: center
    margin-top: 10px
    @media screen and (max-width: 1040px)
      display: none



  .big_bold_text
    color: #FFFFFF
    font-size: 24px
    font-weight: 700

  .white_text
    font-weight: 600
    font-size: 18px
    color: #FFFFFF
  .gray_text
    font-weight: 600
    font-size: 18px
    color: #ebc8f3
  .all_offers_footer_2div
    display: flex
    flex-direction: row
    justify-content: space-between
    gap: 35px
    align-items: center
  .all_offers_footer_3div
    display: flex
    flex-direction: row
    justify-content: space-between
    gap: 35px
    //@media screen and (max-width: 800px)
    //  margin-top: 20px
  .app_play_logos_div
    display: flex
    gap: 10px
    @media screen and (max-width: 600px)
      display: block
  .logo_app_store
    width: 220px
    border-radius: 12px
    border: 2px solid gray
    cursor: pointer
    margin-bottom: 5px
    @media screen and (max-width: 800px)
      width: 150px
    @media screen and (max-width: 410px)
      width: 140px


.all_offers_filter_clinics
  @media screen and (max-width: 500px)
    margin-top: 10px
.all_offers_filter_input_div
  @media screen and (max-width: 500px)
    margin-top: 10px
.offers_search_input
  width: 200px
  background-color: #F3F3F3
  border: none
  .ant-input
    background-color: #F3F3F3

.offers_search_input_mobile
  width: 100%
  background-color: #F3F3F3
  border: none
  height: 48px
  .ant-input
    background-color: #F3F3F3


.offer_book_card
  width: 60%
  opacity: 0.99
  display: flex
  flex-direction: row
  justify-content: center
  @media screen and (max-width: 800px)
    width: 70%
  @media screen and (max-width: 600px)
    width: 80%
  @media screen and (max-width: 500px)
    width: 90%

.offer_book_card_image_div
  width: 100%
.offer_card_image
  width: 100%
  height: 400px
  box-shadow: 0px 1.43897px 2.21381px 0px rgba(0, 0, 0, 0.01), 0px 3.45805px 5.32008px 0px rgba(0, 0, 0, 0.01), 0px 6.51121px 10.01724px 0px rgba(0, 0, 0, 0.02), 0px 11.61488px 17.86905px 0px rgba(0, 0, 0, 0.02), 0px 21.72436px 33.42209px 0px rgba(0, 0, 0, 0.03)
  border-radius: 12px
  object-fit: cover
.avatar_and_price_div
  display: flex
  flex-direction: row
  justify-content: space-between
  @media screen and (max-width: 1050px)
    display: block


.offer_card_avatar
    padding: 20px
.offer_pink_text
    color: #ce4e99
    font-size: 12px
    margin-top: 10px
    font-weight: 600
.big_price_div
    display: flex
    align-items: center
    padding: 20px
.price_div
  width: 350px
  border-radius: 40px
  background-color: #ff0596
  padding: 24px
  margin-top: -5px
  color: #FFFFFF
  font-weight: 600
  font-size: 16px
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  @media screen and (max-width: 500px)
    flex-direction: column
    width: 250px
.claim_now_divider
  margin: 0 10px
  height: 25px
  border-right: 1px solid #FFFFFF
  @media screen and (max-width: 500px)
    height: 1px

.claim_now_text
  @media screen and (max-width: 500px)
    margin-top: 10px

.line
    border-top: 1px solid #FFFFFF
    width: 60px
    margin-bottom: -11px
.offer_details
  display: flex
  flex-direction: row
  justify-content: space-between
  gap: 50px
  @media screen and (max-width: 1050px)
    flex-direction: column


.all_offer_book_clinic_card_div
  width: 100%
  display: flex
  flex-direction: row
  justify-content: flex-end
  @media screen and (max-width: 1050px)
    justify-content: center

.all_offers_app_div
  display: flex
  flex-direction: row
  align-items: center
  gap: 10px
  @media screen and (max-width: 700px)
    display: block

.personal_details_code_numbet_div
  display: flex
  @media screen and (max-width: 1000px)
    display: block

.personal_details_code_div
  width: 35%
  @media screen and (max-width: 1000px)
    width: 100%


.personal_details_number_div
  width: 100%
  margin: 0 10px
  @media screen and (max-width: 1000px)
    margin: 0 0

.verify_code_form_big_div
  display: flex
  width: 100%
  flex-direction: row
  justify-content: space-between
  @media screen and (max-width: 1000px)
    display: block

.verify_code_form_number_div
  width: 50%
  margin-left: 10px
  @media screen and (max-width: 1000px)
    width: 100%

.space_compact
  width: 40%
  @media screen and (max-width: 1000px)
    width: 100%

.thank_you_image_div
  display: flex
  flex-direction: row
  justify-content: center
  padding: 50px

  //@media screen and (max-width: 600px)
  //  padding: 60px
  //@media screen and (max-width: 530px)
  //  padding: 50px
  //@media screen and (max-width: 500px)
  //  padding: 40px
  //@media screen and (max-width: 450px)
  //  padding: 20px

.thank_you_img_text
  display: flex
  flex-direction: row
  @media screen and (max-width: 1000px)
    display: block


.thank_you_image
  width: 200px
  height: 200px
  @media screen and (max-width: 450px)
    width: 170px
.thank_you_image_new
  width: 160px
  height: 160px

.thank_you_bold_text
  font-weight: 700
  font-size: 24px
  font-family: Inter
  margin-top: 20px
.thank_you_smoll_text
  color: #97929E
  font-family: Inter
  font-size: 14px
  margin-top: 12px

.thank_you_congretulation_div
  padding: 60px
  @media screen and (max-width: 650px)
    padding: 10px

.clinic_card_div
  border: 1px solid #c9c5c5
  border-radius: 10px
  width: 300px
  box-shadow: 0 0 10px 5px rgb(140 152 164 / 40%)
  @media screen and (max-width: 420px)
    width: 250px

.congratulations_text
  font-size: 40px
  font-weight: 600
  @media screen and (max-width: 700px)
    font-size: 32px
  @media screen and (max-width: 470px)
    font-size: 24px

.no_offers
  min-height: 400px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
.app_title
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  margin: 20px
.purple_text
  color: #ff0596
  font-size: 26px
  font-weight: 600
.app_border_div
  border-radius: 10px
  border: 1px solid #d0cdcd
  box-shadow: 0px 21.7244px 33.4221px rgba(0, 0, 0, 0.0278483), 0px 11.6149px 17.869px rgba(0, 0, 0, 0.0221018), 0px 6.51121px 10.0172px rgba(0, 0, 0, 0.0175873), 0px 3.45805px 5.32008px rgba(0, 0, 0, 0.013318), 0px 1.43897px 2.21381px rgba(0, 0, 0, 0.00845703)

.app_btn_div
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  margin: 20px
.app_doctor
  padding: 30px
.doctor_conteiner
  border: 1px solid #d5d2d5
  border-radius: 38px
  padding: 8px 25px
  width: 100%
  margin-top: 10px
.doctor_conteiner:hover
    border: 1px solid #d5d2d5
    border-radius: 38px
    padding: 8px 25px
    width: 100%
    margin-top: 10px
    box-shadow: 0 0 10px 5px rgb(140 152 164 / 40%)
    cursor: pointer
.date_carousel_div
  position: relative
  padding: 10px
  .slick-arrow
    border-radius: 10px
    background-color: #aaa6ab
.date_div
  padding: 2px
  cursor: pointer
.date_div_inn
  border: 1px solid #d5d2d5
  border-radius: 25px
  padding: 9px
  margin-right: 2px
  cursor: pointer
.date_div_inn:hover
  border: 1px solid #ce4e99
  border-radius: 25px
  padding: 9px

.disabled_date
  border: 1px solid #eae9ea
  border-radius: 25px
  padding: 9px
  margin-right: 2px
  background-color: #f1f0f0
  cursor: default

  .ant-space-compact
    width: 100% !important
.selected_text
  font-weight: 700
  font-size: 16px
.change_number
  color: #ce4e99
  margin-left: 10px
  cursor: pointer
.clinic_name
  margin-top: 40px
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  .clinic_name_inn
    width: 75%
    background-color: #FFFFFF
    border-radius: 8px
    opacity: 0.99
    min-height: 100px
    padding: 10px
    @media screen and (max-width: 500px)
      width: 90%
.load_more_div
  margin-top: 30px
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 100%

 
.menu_div_new
  width: 100%
  display: flex
  flex-direction: column
  justify-content: space-between

.offer_card_image_new
  width: 100%
  height: 400px
  box-shadow: 0px 1.43897px 2.21381px 0px rgba(0, 0, 0, 0.01), 0px 3.45805px 5.32008px 0px rgba(0, 0, 0, 0.01), 0px 6.51121px 10.01724px 0px rgba(0, 0, 0, 0.02), 0px 11.61488px 17.86905px 0px rgba(0, 0, 0, 0.02), 0px 21.72436px 33.42209px 0px rgba(0, 0, 0, 0.03)
  //object-fit: cover
  @media screen and (max-width: 500px)
    height: 220px  
    
.offer_section
  width: 360px 
  //margin-top: 20px
  padding: 10px
  @media screen and (max-width: 800px)
    width: 100%
    height: 160px
    margin-top: 0px  
  

.offer_appointment_sec
  margin-top: 50px
  @media screen and (max-width: 600px)
    display: none
.personal_details_nationality_div
  .ant-form-item-required
    @media screen and (max-width: 600px)
      margin-right: 25px !important
.ant-drawer-content-wrapper
  //min-height: 20vh !important
  max-height: 100vh !important
  overflow: auto !important


.offer_book_div
  width: 40%
  margin-top: 20px
  @media screen and (max-width: 800px)
    width: 100%
  
.offer_book_title
  font-weight: 700
  font-size: 28px
  @media screen and (max-width: 600px)

    display: none

.offer_book_title1
  display: none
  @media screen and (max-width: 600px)
    font-size: 22px
    font-weight: 700
    width: 100%
    margin: 10px 10px 0 10px
    display: block


.offer_book_desc
  font-weight: 400
  font-size: 14px
  color: #635D6B
  @media screen and (max-width: 600px)
    font-size: 14px
    width: 100%
    margin-top: 15px

.read_more_less
  font-family: Inter
  font-size: 14px
  font-style: normal
  font-weight: 700
  line-height: 18px
  color: #774d9d
  cursor: pointer

  

.divider_offer
  background-color: #E1E2E9
  @media screen and (max-width: 600px)
    opacity: 0

.offer_clinic_div
  display: flex
  flex-direction: row
  align-items: center
  @media screen and (max-width: 600px)
    padding-left: 10px

.offer_clinic_container
  margin-left: 10px
  @media screen and (max-width: 600px)
    width: 100%
    margin-top: 10px

.offer_clinic_name
  color: #BF539E
  font-weight: 500
  font-size: 16px

.offer_clinic_address
  color: #97929E
  font-weight: 400
  font-size: 13px
  @media screen and (max-width: 600px)
    font-size: 13px

.offer_clinic_location
  display: flex
  padding-top: 10px
  @media screen and (max-width: 600px)
    flex-direction: column
    padding: 10px

.offer_location_div
  width: 264px
  @media screen and (max-width: 600px)
    width: 100%

.clinic_location_div
  width: 328px 
  padding-left: 20px
  @media screen and (max-width: 600px)
    padding-left: 0px
    width: 100% 
    margin-top: 10px

.clinic_location_name
  font-weight: 400
  font-size: 14px
  color: #000000
  opacity: 50%

hr 
  border: none
  border-top: 2px dotted #E1E2E9
  color: #E1E2E9
  background-color: #fff
  width: 100%


.clinic_div
  display: flex
  flex-direction: row
  justify-content: space-between

.clinic_content_name
  font-weight: 700
  font-size: 14px
  color: #42394D
  margin-top: 5px
  width: 80%

.offer_price_div
  margin-top: 20px
  display: flex
  flex-direction: column
 
.offer_new_price
  font-size: 18px
  font-weight: 700
  color: #42394D
  //margin-right: 5px

.offer_old_price
  font-size: 17px
  font-weight: 400
  color: #635D6B
  margin-left: 5px
  text-decoration: line-through

.offer_save_price
  font-size: 16px
  font-weight: 500
  color: #BF539E
  padding-top: 10px
  padding-bottom: 10px

.offer_save_price_new
  font-size: 16px
  font-weight: 500
  color: #BF539E
  padding-top: 10px


.offer_percent
  margin-left: 5px
  margin-right: 5px

.offer_sar
  margin-left: 5px

.offer_hours_div
  background-color: #F5F5F8
  padding: 8px
  border-radius: 12px
  margin-top: 20px
  height: 70px
  @media screen and (max-width: 600px)
    width: 100%
  
.offer_hours_p
  font-weight: 400
  font-size: 14px
  margin-top: 5px

.appointment_title
  font-weight: 700
  font-size: 20px
  color: #42394D

.mobile_offer_price
  display: none
  @media screen and (max-width: 600px)
    display: block
    margin-bottom: 15px

.doctor_container
  border-radius: 12px
  padding: 12px
  background-color: #FFFFFF
  opacity: 0.99
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12)
  cursor: pointer
  margin-top: 10px
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  width: 100%
  height: 72px
  border: none


.doctor_selected
  padding: 12px
  border-radius: 12px  12px 0 0
  background-color: #774D9D
  margin-top: 10px
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  width: 100%
  height: 72px
  border: none
  &:disabled
    background-color: #7c4d98
    border: 1px solid #7c4d98


.doctor_name_selected
  font-weight: 700
  font-size: 14px
  color: #FFFFFF
  
.doctor_name
  font-weight: 700
  font-size: 14px
  color: #42394D

.doctor_avatar
  border-radius: 8px

.button_container
  cursor: pointer
  margin-top: 30px 

.button_style
  background-color: #BF539E
  color: #FFFFFF
  border-radius: 12px
  padding: 10px
  width: 100%
  cursor: pointer
  border: none
  
.button_style_cancel
  background-color: #F5F6FA
  border-radius: 12px
  padding: 10px
  width: 100%
  cursor: pointer
  border: none
  margin-top: 10px
  color: #635D6B
  
.offer_form
  display: flex
  flex-direction: row
  justify-content: space-between
  
.offer_form_input
  font-size: 15px
  background-color: #F5F6FA
  
.calendar_div
  background-color: #774D9D
  border-radius: 12px
  width: 100%
 
.calendar_date_div
  background-color: #BF539E
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px

.calendar_content
  padding: 10px

.calendar_content_new
  padding: 5px
  
.calendar_title
  font-size: 18px
  font-weight: 700
  color: #FFFFFF

.selected_date
  color: #F3A632

.calendar_time 
  font-size: 14px
  font-weight: 600
  color: #FFFFFF
  padding: 8px
  background-color: #BF539E
  border-radius: 12px
  width: 63px
  height: 35px
 
.disabled_date_div
  font-size: 5px
  background-color: #BF539E
  color: #FFFFFF
  
.calendar_days_div
  font-size: 12px

.calendar_days_inner
  font-size: 14px
  font-weight: 700
  color: #FFFFFF
 
.calendar_days_container
  color: #FFFFFF
  

.payment_container
  border-radius: 12px
  padding: 12px
  background-color: #FFFFFF
  border-radius: 12px
  opacity: 0.99
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12)
  width: 100%
  cursor: pointer
  display: flex
  flex-direction: row
  align-items: center
  height: 48px
  &:hover
    background-color: #ce529a
    color: #FFFFFF
.selected_payment_container
  border-radius: 12px
  padding: 12px
  background-color: #ce529a
  border-radius: 12px
  opacity: 0.99
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12)
  width: 100%
  cursor: pointer
  display: flex
  flex-direction: row
  align-items: center
  height: 48px
  color: #FFFFFF
.payment_div
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin-top: 10px

.payment_methods
  border-radius: 12px
  background-color: #FFFFFF
  border-radius: 8px
  opacity: 0.99
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12)
  width: 50px
  height: 30px
  margin-top: 10px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
 
.payment_icon
  width: 25px
  height: 15px

.payment_container_title
  font-weight: 500
  font-size: 14px
  margin-left: 10px

.payment_conatiner_div
  display: flex
  
.payment_section
  margin-top: 10px

.thank_div
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.thank_offer_title
  font-weight: 700
  font-size: 24px

.thank_offer_description
  font-weight: 400
  font-size: 13px
  color: #97929E
  text-align: center

.thank_offer_close
  width: 300px
  height: 40px
  border-radius: 12px
  background-color: #F5F6FA
  color: #635D6B
  border: none

.thank_image
  width: 140px
  height: 140px
  @media screen and (max-width: 450px)
    width: 170px

.app_btn
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
 
.date_carousel_calendar
  position: relative
  padding: 30px
  .slick-arrow
    border-radius: 10px
    background-color: #aaa6ab


.disabled_date_container
  font-size: 5px
  color: #FFFFFF
  border-radius: 12px
  border: 1px solid #FFFFFF
  margin: 5px

.active_date_container
  font-size: 5px
  background-color: #F3A632
  color: #FFFFFF
  border-radius: 12px
  margin: 5px

.calendar_day_content
  height: 40px
  width: 82px
  display: flex
  align-items: center
  margin-left: inherit


.date_carousel_container
  position: relative
  padding-bottom: 1px
  border-radius: 20px
 
.calendar_month
  font-size: 16px
  font-weight: 700
  color: #FFFFFF

.time_container
  background-color: #774D9D
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px

.time_box
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: 10px

.time_div
  background-color: #774D9D
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px
  padding: 10px

.offer_logo_div_new
  opacity: 0.99
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

  @media screen and (max-width: 500px)
      display: none

.tab_div_mobile_new
    display: none
    opacity: 0.99
    @media screen and (max-width: 900px)
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      opacity: 0.99
      background-color: #FFFFFF
      width: 100%
      padding: 14px 16px
      box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12)

.offer_book_card_new
  width: 80%
  opacity: 0.99
  display: flex
  flex-direction: row
  justify-content: center
  @media screen and (max-width: 800px)
    width: 70%
  @media screen and (max-width: 600px)
    width: 100%

.offer_details_new
  display: flex
  flex-direction: row
  justify-content: space-between
  gap: 50px
  @media screen and (max-width: 600px)
    flex-direction: column-reverse
    gap: 0px

.menu_div_new
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.offer_desc
  @media screen and (max-width: 600px)
    padding-left: 10px
    padding-right: 10px


.book_mobile  
  display: none
  @media screen and (max-width: 600px)
    display: block
    background-color: #774D9D

@media (max-width: 600px)
 .book_mobile  
   display: none
   background-color: #FFFFFF


.tab_div_mobile_new_offer
    display: block
    opacity: 0.99
     
    //@media screen and (max-width: 600px)
    //  display: none
  
.tab_div_mobile_new_offer_arrow
    display: none
    opacity: 0.99
    @media screen and (max-width: 600px)
      display: flex
      justify-content: center
      align-items: center
      width: 40px
      height: 40px
      background-color: #774D9D
      border-radius: 12px

.tab_div_mobile_new_appointment
  display: none
  opacity: 0.99
  @media screen and (max-width: 900px)
  display: flex
  align-items: center
  justify-content: center
  opacity: 0.99
  background-color: #FFFFFF
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12)

.navbar_offer
  display: flex
  opacity: 0.99
  background-color: #FFFFFF
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12)
  @media screen and (max-width: 400px)
  display: none
  
   
.slick-prev,
.slick-next 

.custom-prevArrow,
.custom-nextArrow 
  position: relative
  z-index: 99999
  top: -10px

.custom-prevArrow 
  left: -10px

.custom-nextArrow 
  right: -10px

.custom-prevArrow:hover
.custom-nextArrow:hover 
  fill: red
  cursor: pointer

.slick-next:before  
    font-family: monospace !important
    font-size: 28px !important

.slick-prev:before  
    font-family: monospace !important
    font-size: 28px !important


.navbar_offer_new
  width: 100%
  display: flex
  flex-direction: row
  justify-content: center
  background-color: #FFFFFF
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12)


.back_offer
  color: #BF539E
  font-size: 14px
  font-weight: 400
  cursor: pointer
  margin: 0 25px


.all_offer_details_big_div
  :where(.css-14uherg).ant-select:not(.ant-select-customize-input) .ant-select-selector
    border: none !important
    background-color: rgba(245, 246, 250, 1) !important
  :where(.css-dev-only-do-not-override-14uherg).ant-select:not(.ant-select-customize-input) .ant-select-selector
    border: none !important
    background-color: rgba(245, 246, 250, 1) !important
  .ant-form-item-label
    position: absolute
    background-color: #f3f1f110
    padding-left: 5px
    padding-right: 5px
    color: rgba(0, 0, 0, 0.6)
    transform-origin: left top
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    max-width: calc(100% - 24px)
    transform: translate(14px, 10px) scale(1)
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms
    z-index: 1
    pointer-events: none

  &.input-focused
    .ant-form-item-label
      transform: translate(19px, -4px) scale(0.7)
      line-height: 1em
  .flying-label
    input
      background-color: rgba(245, 246, 250, 1)
      border: none
      font-weight: 500
    label
      background-color: #f3f1f110 !important
  .ant-picker
    background-color: rgba(245, 246, 250, 1)
    border: none
  .ant-picker-input
    input
      font-weight: 500
  .ant-select-selection-item
    font-weight: 500
    font-family: Roboto

  .ant-select-selector
    border: none !important
    background-color: rgba(245, 246, 250, 1) !important

.input_RTL
  .ant-input-rtl
    //direction: ltr !important

.all_offers_personal_det_inputs
  .ant-form-item-required
    top: -0px !important

.ant-drawer-body
  .all_offers_personal_det_inputs
    .ant-form-item-required
      margin-right: 27px !important
.all_offer_code
  .input-placeholder .ant-form-item-label > label
    top: 1px
    @media screen and (max-width: 500px)
      top: 1px
      margin-right: 29px

.all_offer_phone_number
  .flying-label > label
    margin-right: 7px
  @media screen and (max-width: 500px)
    margin-right: 0px


.all_offers_book_btns
  width: 100%
  height: 48px
  border-radius: 12px
  font-size: 16px
  font-weight: 700

.bottom_drawer_div
  width: 100%
  box-shadow: 0px -4px 16px -4px rgba(14, 7, 7, 0.12)
  margin-top: 20px
  padding: 12px
  display: none
  @media screen and (max-width: 600px)
    display: block

.offers_book_padding_bottom
  padding-bottom: 80px
  @media screen and (max-width: 800px)
    padding-bottom: 0px

.treeSelect
  .ant-select-selector
    background-color : #bd3183 !important
  .ant-select-selection-placeholder
    color: #FFFFFF
  .ant-select-selection-item
    margin-top: 4px
    color: #FFFFFF

  .ant-select-suffix
    color: #FFFFFF
  .select_title_length
    display: none


.ant-tree-select-dropdown .ant-select-tree .ant-select-tree-treenode
  //color: #7c4d98 !important
  padding: 8px



.ant-select-tree-title
  //color: #984d67 !important
.ant-select-tree-indent-unit
  width: 0px !important

.ASDF
  color: #774D9D
  font-weight: 700
  font-size: 18px
  font-family: Roboto
  border-bottom: 1px solid #D7DAE8
  &:hover
    background-color: #F8F2FE
    //color: #FFFFFF

.selected_ASDF
  color: #ffffff
  font-weight: 700
  font-size: 18px
  font-family: Roboto
  background-color: #774D9D
  border-bottom: 1px solid #D7DAE8
  &:hover
    background-color: #F8F2FE
    color: #774D9D


.ASDF_children
  font-weight: 400
  font-size: 18px
  font-family: Roboto
  border-bottom: 1px solid #D7DAE8
  &:hover
    background-color: #F8F2FE
//color: #FFFFFF

.selected_ASDF_children
  color: #ffffff
  font-weight: 700
  font-size: 18px
  font-family: Roboto
  background-color: #774D9D
  border-bottom: 1px solid #D7DAE8
  &:hover
    background-color: #F8F2FE
    color: #774D9D



.ant-tree-select-dropdown .ant-select-tree .ant-select-tree-treenode
    order: 0 !important
.ant-tree-select-dropdown .ant-select-tree .ant-select-tree-switcher
    order: 1 !important

.ant-tree-select-dropdown .ant-select-tree .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected
  background-color: #F8F2FE00 !important
.ant-tree-select-dropdown .ant-select-tree .ant-select-tree-node-content-wrapper:hover
  background-color: #F8F2FE00 !important

.ant-select-tree .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected
  background-color: #7c4d9800

.ant-tree-select-dropdown .ant-select-tree .ant-select-tree-treenode-active .ant-select-tree-node-content-wrapper
  outline: 0px solid #7c4d98

.ant-tree-select-dropdown
  padding: 0 !important

.collepse_offer_calendar
  .ant-collapse-header
    padding: 0 !important
  .ant-collapse-content-box
    padding: 0 !important

.thank_you_drawer
  display: none
  @media screen and (max-width: 800px)
    display: block

.ant-select-tree-list-scrollbar-show
  display: block !important
.ant-select-tree-list-holder
  overflow-y: auto !important

