.bac_div
  position: absolute
.offer_logo_div
  opacity: 0.99
  height: 150px
.menu_div
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  .tab_div
    width: 60%
    background-color: #FFFFFF
    border-radius: 8px
    opacity: 0.99
    min-height: 100px
    padding: 10px
    box-shadow: 0 0 10px 5px rgb(140 152 164 / 40%)
.radio_grup
  display: flex
  flex-direction: row
  justify-content: space-around
  margin-top: 12px
  .ant-radio-button
    padding: 10px
  .ant-radio-button-wrapper
    border: none
    border-radius: 8px
    span
      font-weight: 600
      font-size: 18px
  .ant-radio-button-wrapper-checked
    span
      color: #FFFFFF !important
      font-weight: 600
      font-size: 18px
  .ant-radio-button-checked
    background-color: #ce4e99
    border-radius: 10px
    border: none

.filter_div
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-around
.ant-dropdown-menu
  max-height: 300px
  overflow: auto
.price
  display: flex
  flex-direction: row
  justify-content: space-around
.price_text
  font-weight: 600
.slider_div
  width: 65%
  margin-right: 18px
  .ant-slider
    .ant-slider-track
      background-color: #ce4e99
  .ant-slider:hover
    .ant-slider-track
      background-color: #ce4e99
.radio_grup
  .ant-radio-button-wrapper:not(:first-child)::before
    content: none !important
.big_div_cards
  margin-top: 20px
  opacity: 0.99
  width: 60%
  .offer_card
    box-shadow: 0 0 10px 5px rgb(140 152 164 / 40%)
    background-color: #FFFFFF
    min-height: 580px
    border-radius: 12px
  .offer_card_image_div
    height: 200px
    .offer_card_image
      height: 200px
      width: 100%
      border-radius: 12px 12px 0 0
    .offer_card_percent
      background: #FF1A61
      margin-top: -70px
      padding: 10px
      margin-bottom: 30px
      opacity: 0.99
      font-size: 24px
      color: #FFFFFF
      font-weight: 700
    .offer_card_big_text
      font-size: 24px
      height: 80px
      font-weight: 700
      padding: 5px 16px
    .offer_card_smoll_text
      height: 20px
      color: #8d8c8d
      font-size: 14px
      padding: 5px 16px
      font-weight: 500
    .offer_card_stars
      padding: 5px 16px
    .offer_card_avatar
      padding: 0px 16px
    .offer_card_smoll_text1
      color: #8d8c8d
      font-size: 14px
      font-weight: 500
    .off_card_price_btn
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
    .line
      border-top: 1px solid black
      width: 60px
      margin-top: -8px
.footer_big_div
  background-color: #8447DF
  width: 100%
  padding: 40px 0px
  margin-top: 60px
  display: flex
  justify-content: center
  .footer_content_div
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 60%
  .big_bold_text
    color: #FFFFFF
    font-size: 24px
    font-weight: 700
  .white_text
    font-weight: 600
    font-size: 18px
    color: #FFFFFF
  .gray_text
    font-weight: 600
    font-size: 18px
    color: #ebc8f3
.offers_search_input
  width: 200px
  background-color: #F3F3F3
  border: none
  .ant-input
    background-color: #F3F3F3
.offer_book_card
  width: 60%
  opacity: 0.99
  display: flex
  flex-direction: row
  justify-content: center
.offer_book_card_image_div
  width: 100%
.offer_card_image
    width: 100%
    height: 400px
    box-shadow: 0 0 10px 5px rgb(140 152 164 / 40%)
    border-radius: 12px
    object-fit: cover
.avatar_and_price_div
    display: flex
    flex-direction: row
    justify-content: space-between
.offer_card_avatar
    padding: 20px
.offer_pink_text
    color: #ce4e99
    font-size: 12px
    margin-top: 10px
    font-weight: 600
.big_price_div
    display: flex
    align-items: center
    padding: 20px
.price_div
    width: 350px
    border-radius: 40px
    background-color: #ff0596
    padding: 24px
    margin-top: -5px
    color: #FFFFFF
    font-weight: 600
    font-size: 16px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
.line
    border-top: 1px solid #FFFFFF
    width: 60px
    margin-bottom: -11px
.offer_details
  display: flex
  flex-direction: row
  justify-content: space-between
  gap: 50px

.clinic_card_div
  border: 1px solid #c9c5c5
  border-radius: 10px
  width: 30%
  box-shadow: 0 0 10px 5px rgb(140 152 164 / 40%)

.no_offers
  min-height: 400px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
.app_title
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  margin: 20px
.purple_text
  color: #ff0596
  font-size: 26px
  font-weight: 600
.app_border_div
  border-radius: 10px
  border: 1px solid #d0cdcd
  box-shadow: 0px 21.7244px 33.4221px rgba(0, 0, 0, 0.0278483), 0px 11.6149px 17.869px rgba(0, 0, 0, 0.0221018), 0px 6.51121px 10.0172px rgba(0, 0, 0, 0.0175873), 0px 3.45805px 5.32008px rgba(0, 0, 0, 0.013318), 0px 1.43897px 2.21381px rgba(0, 0, 0, 0.00845703)
.app_btn_div
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  margin: 20px
.app_doctor
  padding: 30px
.doctor_conteiner
  border: 1px solid #d5d2d5
  border-radius: 38px
  padding: 8px 25px
  width: 100%
  margin-top: 10px
.doctor_conteiner:hover
    border: 1px solid #d5d2d5
    border-radius: 38px
    padding: 8px 25px
    width: 100%
    margin-top: 10px
    box-shadow: 0 0 10px 5px rgb(140 152 164 / 40%)
    cursor: pointer
.date_carousel_div
  position: relative
  padding: 10px
  .slick-arrow
    border-radius: 10px
    background-color: #aaa6ab
.date_div
  padding: 2px
  cursor: pointer
.date_div_inn
  border: 1px solid #d5d2d5
  border-radius: 25px
  padding: 9px
  margin-right: 2px
  cursor: pointer
.date_div_inn:hover
  border: 1px solid #ce4e99
  border-radius: 25px
  padding: 9px
.space_compact
  width: 40%
  .ant-space-compact
    width: 100% !important
.selected_text
  font-weight: 700
  font-size: 16px













