.future-visits {
    .ant-form-item-label > label {
        top: 0px
    }
	.ant-card-bordered {
		.ant-card-body {
			padding: 12px !important;
		}
        border: 1px solid #e2e2e2;
	}
    .ant-select-multiple{
        .ant-select-selection-overflow{
            .ant-select-selection-item{
                color: white;
                background: #774D9D;
                svg{
                    color: white;
                }
            }
        }
    }
}

.flex-container {
    display: flex;
    justify-content: center;
}