@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap')

.owner_clinics_big_div
  background-color: #fff
  padding: 25px 40px
.own_clinic_head_div
  display: flex
  flex-direction: row
  align-items: center
.header_text
  margin: 20px 20px
  font-size: 32px
  font-family: Inter
  font-weight: 700
.add_btn
  margin-left: 10px
  border-radius: 12px !important
  font-weight: 700
  font-family: Roboto
.table_div
  margin-top: 80px
.owner_clinic_avatar

  border-radius: 12px
  margin-top: 12px
  margin-bottom: 12px
.text_name_clinic
  font-family: Inter
  font-weight: 700
  font-size: 24px
  margin-left: 10px
.text_address
  font-family: Inter
  font-weight: 400
  font-size: 16px
  margin-left: 10px
.icon_text_div
  display: flex
  flex-direction: row
  align-items: center
.owner_clinic_table_texts
  font-size: 16px
  font-weight: 400
  font-family: Inter
  margin-left: 15px
.clinic_header_div
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
.clinic_header_left_div
  display: flex
  align-items: center
  gap: 10px
.clinic_header_right_div
  display: flex
  gap: 10px
  margin-right: 24px
.clinic_back_btn
  margin: 40px 24px
  height: 40px
  width: 40px
  display: flex
  align-items: center
  justify-content: center
.clinic_tab_div
  background-color: #ffffff
.clinic_ess_info_div
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  gap: 10px
  margin-left: 5px
  margin-bottom: 28px
.Clinic_essentials_info_text
  font-family: Inter
  font-size: 24px
  font-weight: 700


.radio_grup_clinic_lng
  display: flex
  flex-direction: row
  gap: 10px
  .ant-radio-button
  .ant-radio-button-wrapper:not(:first-child)::before
    width: 0 !important
  .ant-radio-button-wrapper
    border: none
    background-color: #F5F6FA
    border-radius: 8px
    span
      font-size: 18px
      font-weight: 400
      font-family: Inter
  .ant-radio-button-wrapper-checked
    margin-top: -1px
    height: 38px
    span
      background-color: #BF539E
      color: #ffffff !important
      font-weight: 400
      margin-bottom: -1px
      font-size: 18px
      font-family: Inter
  .ant-radio-button-checked
    background-color: #fffbfb
    border-radius: 10px

.clinic_line
  width: 100%
  border-bottom: 1px solid #cbc9cb








