.withDot
  font-size: 13px
  font-family: "Roboto Regular"
  line-height: 15px
  position: relative
  margin-right: 15px
  margin-left: 15px
  &::before
    content: ""
    position: absolute
    top: 2px
    left: -17px
    width: 10px
    height: 10px
    border-radius: 50%
  &.WD-lightpurple::before
    background-color: #bf539e
  &.WD-purple::before
    background-color: #774d9d
.clinic_owner_big_text
  font-size: 48px
  font-weight: 700
.chart_counter_bold_text
  font-weight: 700
.gradient_chart_big_div
  background-color: #FFFFFF
  border-radius: 15px
  margin-top: 20px
