.withDot
  font-size: 13px
  font-family: "Roboto Regular"
  line-height: 15px
  position: relative
  margin-right: 15px
  margin-left: 15px
  &::before
    content: ""
    position: absolute
    top: 2px
    left: -17px
    width: 10px
    height: 10px
    border-radius: 50%
  &.WD-color-0::before
    background-color: #BF539E
  &.WD-color-1::before
    background-color: #774D9D
  &.WD-color-2::before
    background-color: #ff0000
.clinic_owner_big_text
  font-size: 48px
  font-weight: 700
.chart_counter_bold_text
  font-weight: 700
.gradient_chart_big_div
  background-color: #FFFFFF
  border-radius: 15px
  margin-top: 30px

.chart
  max-width: 100%
