@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap')

.withDot
  font-size: 13px
  font-family: "Roboto Regular"
  line-height: 15px
  position: relative
  margin-right: 1px
  margin-left: 35px
  font-weight: 400

  &::before
    content: ""
    position: absolute
    top: 2px
    left: -17px
    width: 10px
    height: 10px
    border-radius: 50%
  &.WD-color-1::before
    background-color: #BF539E
  &.WD-color-2::before
    background-color: #774D9D
  &.WD-color-3::before
    background-color: #6DAF56
  &.WD-color-4::before
    background-color: #FFD850

  &.WD-color1-0::before
    background-color: #D477B0
  &.WD-color1-1::before
    background-color: #F7BE93
  &.WD-color1-2::before
    background-color: #774D9D


  &.WD-color2-0::before
    background-color: #BF539E
  &.WD-color2-1::before
    background-color: #6DAF56
.withDot_fact
  font-size: 13px
  font-family: "Roboto Regular"
  line-height: 15px
  position: relative
  margin-right: 1px
  margin-left: 15px
  font-weight: 400
  &.WD-color-0::before
    background-color: #BF539E
  &.WD-color-1::before
    background-color: #774D9D

  &::before
    content: ""
    position: absolute
    top: 2px
    left: -17px
    width: 10px
    height: 10px
    border-radius: 50%
.clinic_owner_big_text
  text-align: center
  margin-bottom: 15px
  font-size: 52px
  font-weight: 700
  line-height: 36px
.chart_counter_bold_text
  font-style: normal
  font-weight: 700
  font-size: 16px
  line-height: 19px

.gradient_chart_big_div
  padding-bottom: 15px
  background-color: #FFFFFF
  border-radius: 22px
  margin-top: 50px
  max-height: 650px
  box-shadow: 0px 21.7244px 33.4221px rgba(0, 0, 0, 0.0278483), 0px 11.6149px 17.869px rgba(0, 0, 0, 0.0221018), 0px 6.51121px 10.0172px rgba(0, 0, 0, 0.0175873), 0px 3.45805px 5.32008px rgba(0, 0, 0, 0.013318), 0px 1.43897px 2.21381px rgba(0, 0, 0, 0.00845703)
.chart
  max-width: 100%
  height: 400px
.chart_incomes_div
  height: 500px
  padding: 30px
  margin-top: 50px
  max-height: 650px
  border-radius: 15px
  box-shadow: 0px 21.7244px 33.4221px rgba(0, 0, 0, 0.0278483), 0px 11.6149px 17.869px rgba(0, 0, 0, 0.0221018), 0px 6.51121px 10.0172px rgba(0, 0, 0, 0.0175873), 0px 3.45805px 5.32008px rgba(0, 0, 0, 0.013318), 0px 1.43897px 2.21381px rgba(0, 0, 0, 0.00845703)
  background-color: #FFFFFF
.cl_man_tables
  height: 550px
  padding: 30px
  margin-top: 50px
  max-height: 650px
  border-radius: 15px
  box-shadow: 0px 21.7244px 33.4221px rgba(0, 0, 0, 0.0278483), 0px 11.6149px 17.869px rgba(0, 0, 0, 0.0221018), 0px 6.51121px 10.0172px rgba(0, 0, 0, 0.0175873), 0px 3.45805px 5.32008px rgba(0, 0, 0, 0.013318), 0px 1.43897px 2.21381px rgba(0, 0, 0, 0.00845703)
  background-color: #FFFFFF
.dr_reworked_calendar
  overflow: auto
  padding: 30px
  margin-top: 50px
  max-height: 650px
  border-radius: 15px
  box-shadow: 0px 21.7244px 33.4221px rgba(0, 0, 0, 0.0278483), 0px 11.6149px 17.869px rgba(0, 0, 0, 0.0221018), 0px 6.51121px 10.0172px rgba(0, 0, 0, 0.0175873), 0px 3.45805px 5.32008px rgba(0, 0, 0, 0.013318), 0px 1.43897px 2.21381px rgba(0, 0, 0, 0.00845703)
  background-color: #FFFFFF
.dr_reworked_not
  padding: 30px
  margin-top: 50px
  max-height: 650px
  border-radius: 15px
  box-shadow: 0px 21.7244px 33.4221px rgba(0, 0, 0, 0.0278483), 0px 11.6149px 17.869px rgba(0, 0, 0, 0.0221018), 0px 6.51121px 10.0172px rgba(0, 0, 0, 0.0175873), 0px 3.45805px 5.32008px rgba(0, 0, 0, 0.013318), 0px 1.43897px 2.21381px rgba(0, 0, 0, 0.00845703)
  background-color: #FFFFFF
.channel_incomes_div
  border-radius: 15px
  height: 500px
  box-shadow: 0px 21.7244px 33.4221px rgba(0, 0, 0, 0.0278483), 0px 11.6149px 17.869px rgba(0, 0, 0, 0.0221018), 0px 6.51121px 10.0172px rgba(0, 0, 0, 0.0175873), 0px 3.45805px 5.32008px rgba(0, 0, 0, 0.013318), 0px 1.43897px 2.21381px rgba(0, 0, 0, 0.00845703)
  background-color: #FFFFFF
  margin-top: 50px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.chart_income_channel
  margin-top: -10px
  max-height: 60%
  max-width: 60%
.clinic_own_table_prog
  width: 150px
.incomes_table_head
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 20px
.top_services
  border-radius: 22px
  height: 418px
  box-shadow: 0px 21.7244px 33.4221px rgba(0, 0, 0, 0.0278483), 0px 11.6149px 17.869px rgba(0, 0, 0, 0.0221018), 0px 6.51121px 10.0172px rgba(0, 0, 0, 0.0175873), 0px 3.45805px 5.32008px rgba(0, 0, 0, 0.013318), 0px 1.43897px 2.21381px rgba(0, 0, 0, 0.00845703)
  background-color: #FFFFFF
  margin-top: 50px
  padding: 24px
.patient_gender_div
  border-radius: 15px
  height: 350px
  box-shadow: 0px 21.7244px 33.4221px rgba(0, 0, 0, 0.0278483), 0px 11.6149px 17.869px rgba(0, 0, 0, 0.0221018), 0px 6.51121px 10.0172px rgba(0, 0, 0, 0.0175873), 0px 3.45805px 5.32008px rgba(0, 0, 0, 0.013318), 0px 1.43897px 2.21381px rgba(0, 0, 0, 0.00845703)
  background-color: #FFFFFF
  margin-top: 50px
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

.result_component
  border-radius: 20px
  height: 350px
  box-shadow: 0px 21.7244px 33.4221px rgba(0, 0, 0, 0.0278483), 0px 11.6149px 17.869px rgba(0, 0, 0, 0.0221018), 0px 6.51121px 10.0172px rgba(0, 0, 0, 0.0175873), 0px 3.45805px 5.32008px rgba(0, 0, 0, 0.013318), 0px 1.43897px 2.21381px rgba(0, 0, 0, 0.00845703)
  background-color: #FFFFFF
  margin-top: 50px
  padding: 50px
  display: grid
  grid-template-columns: 50% auto
  grid-gap: 10px
  .result_component_conteiner
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .result_comp_num
      font-weight: 700
      font-size: 32px
    .result_comp_text
      font-weight: 700
      color: #635D6B
.result_component1
  border-radius: 20px
  height: 500px
  box-shadow: 0px 21.7244px 33.4221px rgba(0, 0, 0, 0.0278483), 0px 11.6149px 17.869px rgba(0, 0, 0, 0.0221018), 0px 6.51121px 10.0172px rgba(0, 0, 0, 0.0175873), 0px 3.45805px 5.32008px rgba(0, 0, 0, 0.013318), 0px 1.43897px 2.21381px rgba(0, 0, 0, 0.00845703)
  background-color: #FFFFFF
  margin-top: 50px
  padding: 50px
  display: grid
  grid-template-columns: 50% auto
  grid-gap: 10px
  .result_component_conteiner
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .result_comp_num
      font-weight: 700
      font-size: 32px
    .result_comp_text
      font-weight: 700
      color: #635D6B
.clinic_fid_conteiner
  background-color: #FFFFFF
  padding: 20px
  margin: 20px
  border-radius: 15px
  width: 95%
  box-shadow: 0px 21.7244px 33.4221px rgba(0, 0, 0, 0.0278483), 0px 11.6149px 17.869px rgba(0, 0, 0, 0.0221018), 0px 6.51121px 10.0172px rgba(0, 0, 0, 0.0175873), 0px 3.45805px 5.32008px rgba(0, 0, 0, 0.013318), 0px 1.43897px 2.21381px rgba(0, 0, 0, 0.00845703)
.clinic_fid_head
  display: flex
  flex-direction: row
  justify-content: space-between
  margin: 40px
.clinic_fid_patient_name
  font-weight: 700
  display: flex
.clinic_fid_text
  padding: 10px
  color: rgba(99, 93, 107, 1)
  font-size: 14px
.highcharts-color-0
  fill: #ce4e99
.highcharts-point:nth-child(2), .highcharts-point:nth-child(5), .highcharts-point:nth-child(7), .highcharts-point:nth-child(9), .highcharts-point:nth-child(11)
  fill: #f5a348
.carousel_div
  border: 1px solid black
.owner_month_select
  background: #e1e3e2
  border: none
  border-radius: 25px
  padding: 10px 20px
  font-size: 18px
.own_select_options
  background-color: #FFFFFF
  border: none !important
  border-radius: 10px


.doctor_licenses_chart
  font-size: 13px
  font-family: "Roboto Regular"
  line-height: 15px
  position: relative
  margin-right: 15px
  margin-left: 15px
  &::before
    content: ""
    position: absolute
    top: 2px
    left: -17px
    width: 10px
    height: 10px
    border-radius: 50%
  &.WD-color-0::before
    background-color: #6DAF56
  &.WD-color-1::before
    background-color: #F5A348
  &.WD-color-2::before
    background-color: #CF533E
.withPercentage
  line-height: 15px
  position: relative
  margin-right: 15px
  margin-left: 15px
  font-weight: 700
  &.color-0
    color: #BF539E
  &.color-1
    color: #774D9D
  &.color-2
    color: #6DAF56
.round_charts_big_div
  display: flex
  align-items: center
  padding-left: 10px
  padding-top: 5px
  padding-bottom: 14px
.progress_big_div
  padding-left: 30px
  line-height: 2px
.gradient_chart_inn_big_div
  display: flex
  flex-direction: row
  justify-content: space-between
  padding-left: 22px
  padding-right: 23px
  padding-top: 20px
.chart_div_outh
  height: 350px
  padding-right: 16px
  padding-left: 15px
.channel_incomes_big_div
  border-radius: 22px
  height: 418px
  box-shadow: 0px 21.7244px 33.4221px rgba(0, 0, 0, 0.0278483), 0px 11.6149px 17.869px rgba(0, 0, 0, 0.0221018), 0px 6.51121px 10.0172px rgba(0, 0, 0, 0.0175873), 0px 3.45805px 5.32008px rgba(0, 0, 0, 0.013318), 0px 1.43897px 2.21381px rgba(0, 0, 0, 0.00845703)
  background-color: #FFFFFF
  margin-top: 50px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center


.radio_grup_charts
  display: flex
  flex-direction: row
  gap: 10px
  .ant-radio-button
  .ant-radio-button-wrapper:not(:first-child)::before
    width: 0 !important
  .ant-radio-button-wrapper
    border: none
    background-color: #F5F6FA
    border-radius: 8px
    span
      font-size: 14px
      font-family: Roboto

  .ant-radio-button-wrapper-checked
    border: 2px solid #BF539E
    margin-top: -1px
    height: 34px
    span
      background-color: #ffffff
      color: #BF539E !important
      font-weight: 700
      font-size: 14px
      font-family: Roboto
  .ant-radio-button-checked
    background-color: #fffbfb
    border-radius: 10px
.chart_button
  border: none
  background-color: #F5F6FA
.own_gr_chart_drop
  border: none
  margin-left: 20px
.all_clinic_dr
  font-weight: 400
  font-size: 24px
  color: #BF539E
.avg_montly
  font-family: Roboto
  font-weight: 400
  font-size: 16px
.plan_load_jaddah
  font-family: Roboto
  font-weight: 400
  font-size: 12px
.fact_percent
  font-family: Roboto
  font-weight: 700
  font-size: 12px
.app_clinic
  font-size: 24px
  font-weight: 700
  font-family: Roboto
.gradient_szitch_text
  margin-right: 20px
  font-weight: 400
  font-size: 12px
.top_services_text
  font-size: 24px
  font-weight: 700
  font-style: normal
  color: #42394D
.owner_patient_text
  font-family: Roboto
  font-weight: 700
  font-size: 24px














